name: Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release tag (use "latest" for default environment)'
        required: false
        default: 'latest'
      bookVersion:
        description: 'Book version'
        required: false
        default: '0.0.1'
      branch:
        description: 'Branch to use'
        required: false
        default: 'main'

jobs:
  build:
    runs-on: [self-hosted, Linux, X64]
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.3
        with:
          ref: ${{ inputs.branch }}

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and push Book image
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            georgii4inferara/inference-book:1.0.${{ github.run_number }}
            georgii4inferara/inference-book:${{ inputs.tag || 'latest' }}